html {
  min-height: 100%;
}

body {
  height: 200vh; 
  margin: 0;
  padding: 4em;
  color: rgba(255, 255, 255, .75);
  font-family: Courier;
  background-color: rgb(25, 25, 25); 
  overflow-y: auto;
  transition: background-color 1s ease; 
}

.scroll-container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 4em; 
}

.scroll-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  margin-bottom: 800px;
}

.scroll-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.faded-background {
  background-color:  #33b8ff!important; 
  background: none;
}
